.site-section {
    padding: 2em 0;
    margin: 0rem 2rem 0rem 2rem;
}
@media (min-width: 768px) {
    .site-section {
        padding: 3em 0;
    } 
}
.site-section .site-section-sm {
    padding: 3em 0; 
}
  
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
      .site-section {
        padding: 3em 0; 
    } 
}

.site-section.site-section-sm {
    padding: 2em 0; 
}
    
  
.title-section h2 {
    padding-left: 30px;
    border-left: 4px solid #ee4266;
    display: inline-block;
    color: #000; 
}
  
.title-section.text-center h2 {
    border-left: none;
    position: relative;
    padding-left: 0px;
    padding-bottom: 20px; 
}
    
.title-section.text-center h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background: #ee4266;
    content: "";
}
  
.product-item {
    overflow: hidden;
    height: 100%;
    position: relative; 
}

.product-item .product-category {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #000;
    z-index: 8;
    top: 60%;
    left: 50%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-item .product-category span {
    color: #ced4da;
    font-size: 12px; 
}
.product-item .product-category:hover {
    background: #000;
    color: #fff;
}

.product-item .product-category:hover span {
    color: rgba(255, 255, 255, 0.5);
}
    
.product-item.full-height {
    height: 100% !important; 
}
      
@media (max-width: 991.98px) {
    .product-item.full-height {
        height: 300px !important;
        margin-bottom: 30px; 
    } 
}
    
.product-item.bg-gray {
    background: #f9f9f9; 
}
    
.product-item.sm-height {
    height: 300px;
    padding: 40px; 
}
    
.product-item.md-height {
    height: 400px;
    padding: 40px; 
}
    
.product-item img {
    left: 50%;
    top: 15%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 300px;
    position: absolute;
}
  